<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="contact.js"></script>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <h1>Контакты</h1>
    <div id="contact">
        <div>
            <label>Введите ваше имя:
                <input v-bind:style="name.style" type="text" title="Name" v-model="name.data" v-on:input="checkName">
            </label>
        </div>
        <div>
            <label>Введите ваш телефон:
                <input v-bind:style="phone.style" type="text" title="Phone" v-model="phone.data"
                    v-on:input="checkPhone">
            </label>
        </div>
        <div>
            <label>Введите ваш Email:
                <input v-bind:style="email.style" type="text" title="Email" v-model="email.data"
                    v-on:input="checkEmail">
            </label>
        </div>
        <div><label>Введите ваше сообщение: <textarea v-model="text" title="Text"></textarea></label></div>
        <div><input type="button" title="send" value="Send" v-on:click="send"></div>
    </div>
</body>

</html>